
.reciclaggio {
    color: gold;
}

.navbar-dark {
    background-color: #512DAB;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.info-text {
    font-size: 20px;
    line-height: 2.0;
}

