
.reciclaggio {
    color: gold;
}

.navbar-dark {
    background-color: #512DAB;
}

.integrantes-container{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 30px;
}

.contacto-container{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 30px;
}

.titulo {
    margin-bottom: 20px;
}

.card {
    width: 20rem;
    max-height: 300px;
    margin-right: 15px;
    min-width: 400px;
}

.card-container {
    display: flex;
}
@media (max-width: 600px) {
    .hide-responsive {
        display: none;
    }

    .card {
        margin-right: 5px;
    }
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

